* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
}

html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

body {
  -webkit-font-smoothing: antialiased !important;
  background: #dadbd3;
}

header {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 127px;
  background: #009688;
}

/* LOGIN PAGE */

div.login {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.login div.login-card {
  background: #fff;
  width: 400px;
  padding: 40px;
  border-radius: 5px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

div.login div.login-card form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div.login div.login-card form label {
  margin-bottom: 10px;
  font-weight: bold;
}

div.login div.login-card form input {
  height: 35px;
  margin-bottom: 30px;
  border-radius: 5px;
  padding-left: 15px;
  border: 1px solid #ddd;
}

div.login div.login-card form button {
  background: #09d261;
  color: #fff;
  font-weight: bold;
  border: none;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

div.login div.login-card form button:hover {
  background: #08b854;
}

/* DASHBOARD PAGE */

div.dashboard {
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 20px 0;
}

div.dashboard div.dashboard-card {
  background: #fff;
  height: 100%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
  display: flex;
}

/* CONTACTS LIST */

div.contacts-list {
  width: 420px;
}

div.contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 20px;
}

div.contact:hover {
  background: #f4f5f5;
  cursor: pointer;
  transform: scale(1.005);
}

div.contacts-list div.active {
  background: #e9ebeb;
}

div.user-informations {
  display: flex;
  align-items: center;
}

p.last-message {
  white-space: nowrap;
  width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #666;
  font-size: 15px;
}

div.user-informations div.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  background: grey;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  color: #fff;
  font-weight: bold;
  margin-right: 15px;
}

span.last-seen {
  color: #b5b5b5;
  font-size: 12px;
}

div.dashboard div.dashboard-card div.conversation {
  background: grey;
}
